# BA-FB Configuration File

[fbs_dumper]
force_snake_case = true
namespace_to_look_for = "BlueArchive"

[flatc]
url = "https://cdn.example.com/flatc.zip"
binary_name = "flatc_win.exe"
no_warnings = true
scoped_enums = true
gen_object_api = true
rust_module_root_file = true
rust_serialize = false
cpp_std = "c++17"
cpp_ptr_type = "std::unique_ptr"
# cpp_include = ["custom_header.h"]
python_typing = true
# python_version = "3.8"
ts_flat_files = false
ts_entry_points = false
strict_json = false
defaults_json = false
gen_compare = false
gen_nullable = false
gen_all = false
filename_suffix = "_generated"
# filename_ext = ".h"
# include_prefix = "includes/"
keep_prefix = false
reflect_types = false
reflect_names = false

[il2cpp_dumper]
# output = "./il2cpp_output"
output_cpp_scaffolding = false
unity_version = "2022.3.0f1"
# compiler_type = "il2cpp"
output_csharp_stub = true
layout = "single"
flatten_hierarchy = false
# sorting_mode = "index"
suppress_metadata = false
compilable = false
separate_assembly_attributes = false
output_disassembler_metadata = true
disassembler = "IDA"
output_dummy_dlls = true
output_vs_solution = false
# unity_path = "/path/to/unity"
# unity_assemblies_path = "/path/to/assemblies"
extract_il2cpp_files = false
